/* Listado  */
/* Item */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #c3c3c3;
}

#main-container {
    width: 60%;
    margin: 10px;
}

#table-actions {
    display: flex;
    align-items: center;
}

#search {
    margin: 10px;
    width: 100%;
}

#actions {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.action-button {
    background-color: transparent;
    padding: 6px 16px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 50ms;
    cursor: pointer;
    border: 2px solid black;
}

.select-button:hover {
    background-color: black;
    color: white;
}

.delete-button:hover {
    background-color: black;
    color: white;
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    width: 50%;
}