/* Formulario  */
/* Carga */
#upload-containter {
    margin: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 18%;
    margin-left: 30px;
    font-size: 17px;
}

.upload-button:hover {
    background-color: #0056b3;
}

.form-fields {
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    min-width: 300px;
    margin-left: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.message-content {
    padding: 15px;
    display: flex;
    flex: 0 0 500px;
    min-width: 40%;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    min-height: 50px;
}

.success-message {
    border: 2px solid #279427;
    background-color: #e8f4e8;
}

.success-message h3 {
    color: #279427;
}

.success-message p {
    color: #579057;
}

.error-message {
    border: 2px solid #ef754c;
    background-color: #ffe7e2;
}

.error-message h3 {
    color: #ef754c;
}

.error-message p {
    color: #92685f;
}

.icon {
    max-width: 10px;
    min-width: 30px;
    width: 100%;
    padding-right: 15px;
}


@media only screen and (max-width: 800px) {

  .form-fields {
    flex-direction: unset;
    justify-content: center;
    height: unset;
  }

  .upload-button{
    height: 40px;
    margin-top: 15px;
    margin-left: 40%;
    width: 30%;
}
}